<div id="modalEdit">
    <div >
        <div id="modalHeader">
            <p><strong>Edit User</strong> </p>
            <hr id="hr">
        </div>
        <div>
            <p class="modalLabel">First Name: </p>
            <input class="modalInput" type="text" value={{data.firstName}} #txtFirstName>
            <p class="modalLabel">Last Name: </p>
            <input class="modalInput" type="text" value={{data.lastName}} #txtLastName>
        </div>
        <div>
            <p class="modalLabel">Email: </p>
            <input class="modalInput" type="text" value={{data.email}} #txtEmail disabled>
            <p class="modalLabel">Password: </p>
            <input class="modalInput" type="text" value={{data.password}} #txtPassword>
        </div>
        <div>
            <p class="modalLabel">Role: </p>
            <input class="modalInput" type="text" value={{data.role}} #txtRole>
        </div>
        
    </div>
    <div class="modalButtons">
        <button id="modalButton" (click)="cancel()">Cancel</button>
        <button id="modalButton" (click)="editUser()">Edit</button>
    </div>
</div>
