<div class="header">
  <div class="example-sidenav-content">
    <button
      id="buttonMenu"
      color="primary"
      type="button"
      mat-button
      (click)="drawer.toggle(); showFiller = !showFiller"
    >
      <ng-container *ngIf="!showFiller; else elseTemplate">
        <img id="imageMenu" src="./assets/icons/menu.png" alt="" />
      </ng-container>
      <ng-template #elseTemplate>
        <img
          id="imageMenu"
          src="./assets/icons/menu-alt-left-regular-24.png"
          alt=""
        />
      </ng-template>
    </button>
  </div>
  <button id="buttonHome">
    <img id="imageHome" src="./assets/icons/home.png" alt="" />
  </button>
</div>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer id="sidebar" #drawer class="example-sidenav" mode="side">
    <div class="sidebarContainerButtons">
      <div class="buttonAndText">
        <button class="sidebarButtons" mat-raised-button>
          <img id="uploadButton" src="./assets/icons/upload.png" alt="" />
          <span class="spanSidebar">Upload</span>
        </button>
      </div>
    </div>
  </mat-drawer>

  <div class="container">
    <div *ngIf="!showFiller" class="sidebar">
      <button class="sidebarButtonsX" mat-raised-button>
        <img id="uploadButton" src="./assets/icons/upload.png" alt="" />
      </button>
      <button class="sidebarButtonsX" (click)="logOut()">
        <img id="logoutButton" src="./assets/icons/logout.png" alt="" />
      </button>
    </div>

    <div class="content">
      <div class="images"></div>
    </div>
  </div>
</mat-drawer-container>

<!-- 
  <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button> -->
