.container {
}

#image{
  max-height: 720px;
  max-width: 70vw;
}

#container {
  display: flex;
  flex-direction: row;
}

.leftSide {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.rightSide {
}

#buttonModalImage {
  position: absolute;
  top: 60px;
  right: 70px;
  margin: 0px 10px;
}

#buttonBar{
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 360px) { 

}
