<div id="container">
  <div>
    <div id="buttonBar">
      <button><img src="./assets/icons/save.png" alt=""></button>
      <button *ngIf="validated" (click)="deleteImage()" ><img src="./assets/icons/delete.png" alt=""></button>
    </div>
    <div>
      <ng-container *ngIf="data.type == 0; else elseTemplate">
        <img src="./assets/icons/{{ data.ext }}.png" alt="" />
      </ng-container>
      <ng-template #elseTemplate>
        <img id="image"
          src="{{ filesService.pathApi }}{{ filesService.getFile }}{{
            data.url
          }}"
          alt=""
        />
      </ng-template>
    </div>
  </div>
</div>
