<div class="header">
  <div class="example-sidenav-content">
    <button
      id="buttonMenu"
      color="primary"
      type="button"
      mat-button
      (click)="drawer.toggle(); showFiller = !showFiller"
    >
      <ng-container *ngIf="!showFiller; else elseTemplate">
        <img id="imageMenu" src="./assets/icons/menu.png" alt="" />
      </ng-container>
      <ng-template #elseTemplate>
        <img
          id="imageMenu"
          src="./assets/icons/menu-alt-left-regular-24.png"
          alt=""
        />
      </ng-template>
    </button>
  </div>
</div>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer id="sidebar" #drawer class="example-sidenav" mode="side">
    <div class="sidebarContainerButtons">
      <div class="buttonAndText">
        <button class="sidebarButtons" mat-raised-button (click)="navGalery()">
          <img
            id="uploadButton"
            src="./assets/icons/home.png"
            
            alt=""
          />
          <span class="spanSidebar">Home</span>
        </button>
      </div>
      <div class="buttonAndText">
        <button class="sidebarButtons" (click)="navUsers()" mat-raised-button>
          <img id="uploadButton" src="./assets/icons/settings.png" alt="" />
          <span class="spanSidebar">Settings</span>
        </button>
      </div>
      <div class="buttonAndText">
        <button
          id="logOutSide"
          class="sidebarButtons"
          (click)="logOut()"
          mat-raised-button
        >
          <img id="uploadButton" src="./assets/icons/logout.png" alt="" />
          <span class="spanSidebar">Log out</span>
        </button>
      </div>
    </div>
  </mat-drawer>

  <div class="container">
    <div *ngIf="!showFiller" class="sidebar">
      <button class="sidebarButtonsX" mat-raised-button (click)="navGalery()">
        <img
          id="uploadButton"
          src="./assets/icons/home.png"
          (click)="navUpload()"
          alt=""
        />
      </button>
      <button id="admin" class="sidebarButtonsX" (click)="navUsers()">
        <img id="adminButton" src="./assets/icons/settings.png" alt="" />
      </button>
      <button id="logOut" class="sidebarButtonsX" (click)="logOut()">
        <img id="logOutButton" src="./assets/icons/logout.png" alt="" />
      </button>
    </div>

    <div class="content">
      <div class="images">
        <div id="upload">
          <label id="labelFiles" for="fileUpload">
            <img src="./assets/icons/folders.png" alt="" />
          </label>
          <input
            type="file"
            class="file-input"
            id="fileUpload"
            (change)="onFileSelected($event)"
            #fileUpload
            multiple
          />

          <div class="file-upload">
            {{ fileName || "No file uploaded yet." }}

            <button
              mat-mini-fab
              color="primary"
              class="upload-btn"
              (click)="(fileUpload)"
            >
              <span id="spanUpload"> </span>
              <label id="labelUpload" for="spanUpload"
                ><img src="./assets/icons/uploadFile.png" alt=""
              /></label>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-drawer-container>
