<div id="modalEdit">
    <div >
        <div id="modalHeader">
            <p><strong>Add User</strong> </p>
            <hr id="hr">
        </div>
        <div>
            <p class="modalLabel">First Name: </p>
            <input class="modalInput" type="text"  #txtFirstName>
            <p class="modalLabel">Last Name: </p>
            <input class="modalInput" type="text" #txtLastName>
        </div>
        <div>
            <p class="modalLabel">Email: </p>
            <input class="modalInput" type="text"  #txtEmail>
            <p class="modalLabel">Password: </p>
            <input class="modalInput" type="text"  #txtPassword placeholder="Minimum 8 characters">
        </div>
        <div>
            <p class="modalLabel">Role: </p>
            <input class="modalInput" type="text"  #txtRole placeholder="ADMIN/USER_ROLE">
        </div>
        
    </div>
    <div class="modalButtons">
        <button id="modalButton" (click)="cancel()">Cancel</button>
        <button id="modalButton" (click)="addUser()">Add</button>
    </div>
</div>
