<div>
    <div>
        <p>Edit User</p>
    </div>
    <div>
        <span>First Name: </span>
        <input type="text" #txtFirstName>
        <span>Last Name: </span>
        <input type="text" #txtLastName>
    </div>
    <div>
        <span>Email: </span>
        <input type="email" #txtEmail>
        <span>Password: </span>
        <input type="text" #txtPassword>
    </div>
    <div>
        <span>Role: </span>
        <input type="text" #txtRole>
    </div>
    <div>
        <button (click)="addUser()">Edit</button>
    </div>
</div>