<div id="modalEdit">
    <div >
        <div id="modalHeader">
            <p><strong>Edit User</strong> </p>
            <hr id="hr">
        </div>
        <div>
            <p class="modalLabel">First Name: </p>
            <input class="modalInput" type="text">
            <p class="modalLabel">Last Name: </p>
            <input class="modalInput" type="text">
        </div>
        <div>
            <p class="modalLabel">Email: </p>
            <input class="modalInput" type="text">
            <p class="modalLabel">Password: </p>
            <input class="modalInput" type="text">
        </div>
        <div>
            <p class="modalLabel">Role: </p>
            <input class="modalInput" type="text">
        </div>
        
    </div>
    <div class="modalButtons">
        <button id="modalButton" (click)="cancel()">Cancel</button>
        <button id="modalButton" (click)="addUser()">Add</button>
    </div>
</div>
