.containerLogIn{
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logIn{
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    padding: 40px;
}

.inputLogIn{
    display: flex;
    flex-direction: column;
}
