<div
  class="mainContainer"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
>
  <div class="header">
    <div class="example-sidenav-content">
      <button id="buttonMenu" color="primary" type="button" mat-button>
        <img id="imageMenu" src="./assets/icons/info.png" alt="" />
      </button>
    </div>
  </div>

  <div>
    <div class="container">
      <div class="sidebar">
        <button class="sidebarButtonsX" mat-raised-button>
          <img
            id="uploadButton"
            src="./assets/icons/upload.png"
            (click)="navUpload()"
            alt=""
          />
        </button>
        <button id="admin" class="sidebarButtonsX" (click)="navUsers()">
          <img id="adminButton" src="./assets/icons/settings.png" alt="" />
        </button>
        <button id="logOut" class="sidebarButtonsX" (click)="logOut()">
          <img id="logOutButton" src="./assets/icons/logout.png" alt="" />
        </button>
      </div>
      <div class="main">
        <div class="content">
          <div class="row">
            <div class="cards">
              <div class="card" *ngFor="let item of filesArray; let i; index">
                <span [ngSwitch]="item.extension">
                  <div *ngSwitchCase="'pdf'">
                    <a
                      class="documentIcon"
                      [href]="
                        'https://manmanesp.com/api/uploads/' + item.fileName
                      "
                      target="_blank"
                      [download]
                    >
                      <img src="./assets/images/pdf.png"
                    /></a>
                    <div>
                      <p id="docFileName">{{ item.fileName }}</p>
                    </div>
                  </div>
                  <div *ngSwitchCase="'csv'">
                    <a
                      class="documentIcon"
                      [href]="
                        'https://manmanesp.com/api/uploads/' + item.fileName
                      "
                      target="_blank"
                      [download]
                    >
                      <img src="./assets/images/csv.png"
                    /></a>
                    <div>
                      <p id="docFileName">{{ item.fileName }}</p>
                    </div>
                  </div>
                  <div *ngSwitchCase="'docx'">
                    <a
                      class="documentIcon"
                      [href]="
                        'https://manmanesp.com/api/uploads/' + item.fileName
                      "
                      target="_blank"
                      [download]
                    >
                      <img src="./assets/images/docx.png"
                    /></a>
                    <div>
                      <p id="docFileName">{{ item.fileName }}</p>
                    </div>
                  </div>
                  <div *ngSwitchCase="'xslx'">
                    <a
                      class="documentIcon"
                      [href]="
                        'https://manmanesp.com/api/uploads/' + item.fileName
                      "
                      target="_blank"
                      [download]
                    >
                      <img src="./assets/images/xslx.png"
                    /></a>
                    <div>
                      <p id="docFileName">{{ item.fileName }}</p>
                    </div>
                  </div>
                  <img
                    class="imagesIcon"
                    src="{{ filesService.pathApi }}{{ filesService.getFile }}{{
                      item.fileName
                    }}"
                    alt=""
                    (click)="openImageDialog(item.fileName, item.user, 1)"
                  />
                </span>
                <div id="divText"></div>
                <div id="bottomAnchor"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
