<div class="header">
  <div class="example-sidenav-content">
    <button
      id="buttonMenu"
      color="primary"
      type="button"
      mat-button
      (click)="drawer.toggle(); showFiller = !showFiller"
    >
      <ng-container *ngIf="!showFiller; else elseTemplate">
        <img id="imageMenu" src="./assets/icons/menu.png" alt="" />
      </ng-container>
      <ng-template #elseTemplate>
        <img
          id="imageMenu"
          src="./assets/icons/menu-alt-left-regular-24.png"
          alt=""
        />
      </ng-template>
    </button>
  </div>
</div>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer id="sidebar" #drawer class="example-sidenav" mode="side">
    <div class="sidebarContainerButtons">
      <div class="buttonAndText">
        <button class="sidebarButtons" mat-raised-button>
          <img id="uploadButton" src="./assets/icons/upload.png" alt="" />
          <span class="spanSidebar">Upload</span>
        </button>
      </div>
      <div class="buttonAndText">
        <button class="sidebarButtons" (click)="navUsers()" mat-raised-button>
          <img id="uploadButton" src="./assets/icons/settings.png" alt="" />
          <span class="spanSidebar">Settings</span>
        </button>
      </div>
      <div class="buttonAndText">
        <button
          id="logOutSide"
          class="sidebarButtons"
          (click)="logOut()"
          mat-raised-button
        >
          <img id="uploadButton" src="./assets/icons/logout.png" alt="" />
          <span class="spanSidebar">Log out</span>
        </button>
      </div>
    </div>
  </mat-drawer>

  <div class="container">
    <div *ngIf="!showFiller" class="sidebar">
      <button class="sidebarButtonsX" mat-raised-button>
        <img id="uploadButton" src="./assets/icons/upload.png" (click)="navUpload()" alt="" />
      </button>
      <button id="admin" class="sidebarButtonsX" (click)="navUsers()">
        <img id="adminButton" src="./assets/icons/settings.png" alt="" />
      </button>
      <button id="logOut" class="sidebarButtonsX" (click)="logOut()">
        <img id="logOutButton" src="./assets/icons/logout.png" alt="" />
      </button>
    </div>

    <div class="content">
      <div class="images">
        <span *ngFor="let item of filesArray; let i=index" [ngSwitch]="filesExt[i]">
          <img *ngSwitchCase="'csv'" id="images" (click)="openFileDialog('./assets/icons/csv.png', item.filename, item.user, 0, 'csv')" src="./assets/icons/csv.png" alt="">
          <img *ngSwitchCase="'jpg'" id="images" (click)="openImageDialog(item.fileName, item.user, 1)" src="{{filesService.pathApi}}{{filesService.getFile}}{{item.fileName}}" alt="">
          <img *ngSwitchCase="'jpeg'" id="images" (click)="openImageDialog(item.fileName, item.user, 1)" src="{{filesService.pathApi}}{{filesService.getFile}}{{item.fileName}}" alt="">
          <img *ngSwitchCase="'png'" id="images" (click)="openImageDialog(item.fileName, item.user, 1)" src="{{filesService.pathApi}}{{filesService.getFile}}{{item.fileName}}" alt="">
          <img *ngSwitchCase="'xlsx'" id="images" (click)="openFileDialog('./assets/icons/xlsx.png',item.fileName, item.user, 0, 'xlsx')" src="./assets/icons/xlsx.png" alt="">
          <img *ngSwitchCase="'docx'" id="images" (click)="openFileDialog('./assets/icons/docx.png',item.fileName, item.user, 0, 'docx')" src="./assets/icons/docx.png" alt="">
          <img *ngSwitchCase="'pptx'" id="images" (click)="openFileDialog('./assets/icons/pptx.png',item.fileName, item.user, 0, 'pptx')" src="./assets/icons/pptx.png" alt="">
          <img *ngSwitchCase="'pdf'" id="images" (click)="openFileDialog('./assets/icons/pdf.png',item.fileName, item.user, 0, 'pdf')" src="./assets/icons/pdf.png" alt="">
        <p *ngSwitchDefault>
        
        </p>
        </span>
      </div>
    </div>
  </div>
</mat-drawer-container>
